{% extends "../templates/base.html" %}
{% block title %}Register Operation{% endblock %}

{% block headcss %}
<!--<link rel='stylesheet' type='text/css' media='all' href='/static/css/phantom_lc.css' />-->
{% endblock %}

{% block headscripts %}
<script type="text/javascript">
<!--
var csrf_token = "{{ csrf_token }}";
// -->
</script>

<script type="text/javascript">
  $(function() {

    $("#register-operation-tab").parent().addClass("active");

    $("#register-operation-button").click(function() {
      var operation_name = $("#operation-name-input").val();
      if (!operation_name) {
        
        alert("You need an operation name");
        return false;
      }

      var application = $("#application-input").val();
      if (!application) {
        
        alert("You need an application");
        return false;
      }

      var executable = $("#executable-input").val();
      if (!executable) {
        
        alert("You need an executable");
        return false;
      }

      var new_operation = JSON.stringify({
          "process_name": operation_name,
          "application": application,
          "exec": executable,
      });

      var req = $.ajax({
        type: "POST",
        url: "/api/dev/processes/",
        data: new_operation,
        dataType : "json",
        success: function(msg) {
          alert("Created operation " + operation_name);
          $("#operation-name-input").val("");
          $("#application-input").val("");
          $("#executable-input").val("");
        },
        error: function(msg) {
          console.log(msg);
        }
      });

      return false;
    });
  });
</script>

{% endblock %}
{% block bodytag %}{% endblock %}
{% block nimbus_body  %}
    <div class="row tab-content tab-pane" id="register-operation">
      <div class="col-md-12" >
        <div class="panel panel-default">
          <form role="form">
            <div class="form-horizontal">
              <legend>Register Operation</legend>
              <div class="form-group">
                <label for="operation-name-input" class="col-sm-3 control-label">Operation Name</label>
                <div class="col-sm-7">
                  <input class="form-control" id="operation-name-input" type="text" placeholder="New Operation">
                </div>
              </div>
              <div class="form-group">
              <label for="application-input" class="col-sm-3 control-label">Application VM Image</label>
                <div class="col-sm-7">
                  <input class="form-control" id="application-input" type="text" placeholder="Application">
                </div>
              </div>
              <div class="form-group">
              <label for="executable-input" class="col-sm-3 control-label">Executable</label>
                <div class="col-sm-7">
                  <input class="form-control" id="executable-input" type="text" placeholder="Executable">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <button id="register-operation-button" class="btn">Register Operation</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
